<f:spaceless>
    <div class="postauthor postauthor--full" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <div class="postauthor__body">
            <div class="postauthor__intro"><f:translate key="author.aboutTheAuthor"/>
            <div class="postauthor__name">{author.name}
                        <a href="{author.website}" class="postauthor__sociallink postauthor__sociallink--website" target="_blank" rel="noopener" itemprop="url">
                            <span class="postauthor__sociallinkicon postauthor__sociallinkicon--website">
                                <span class="blogicon"><f:render partial="General/SocialIcons" section="Website" optional="true" /></span>
                            </span>
                            <span class="postauthor__sociallinklabel"><f:translate key="author.social.website" /></span>
                        </a>
                </div>
        </div>
            <f:if condition="{author.bio}">
                <div class="postauthor__bio" itemprop="description"><f:format.html>{author.bio}</f:format.html></div>
            </f:if>
            <f:if condition="{author.detailsPage} || {settings.authorUid}">
                <div class="postauthor__actions">
                    <blogvh:link.author author="{author}"><f:translate key="author.more.posts" /></blogvh:link.author>
                </div>
            </f:if>
        </div>
    </div>
    <f:section name="ProfileLink">
        <f:if condition="{author.profile}">
            <f:then><a rel="author" href="{author.profile}"><span itemprop="name">{content}</span></a></f:then>
            <f:else><span itemprop="name">{content}</span></f:else>
        </f:if>
    </f:section>
</f:spaceless>
